<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/style.css" rel="stylesheet">
    <script>
        const FbPlayableAd = {
            onCTAClick() {
                window.parent.postMessage("onCTAClick", "*");
            },
        };
    </script>
</head>
<body class="{{bodyClasses}}">
<script type="text/javascript">
    window.FBPlayableOnCTAClick = () => {
        (typeof FbPlayableAd === 'undefined') ?
            alert('FBPlayableAd.onCTAClick') : FbPlayableAd.onCTAClick();
    }
</script>
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {


        $('.btn_update--1').hover(function (){
            $('.art__text--dpbb').css('display','none');
        });
        $('.btn_update--1').on('click',function () {
            $(this).css('display','none');
            $('.quote--1').css('display','none');
            $('.quote--1').removeClass('show');
            $('.art__text--dpbb').addClass('hide');
            var imgupdate = '<img class="animated zoomIn" src="http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/ptd3.png" alt="">';
            var imglevel = '<img class="animated fadeIn" src="http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/level2.png" alt="">';
            setTimeout(function () {
                $('.art__effect--1').addClass('show');
            },500);
            setTimeout(function () {
                $('.art__img--1').addClass('art__img--update1').html('').append(imgupdate);
                $('.art__level').html('').append(imglevel);
            },600);
            setTimeout(function () {
                $('.art__text--dpbb1').addClass('show');
            },900);
            setTimeout(function () {
                $('.btn_update--2').css('display','block');
            },1800);
        });

        $('.btn_update--2').on('click',function () {
            $(this).css('display','none');
            $('.quote--2').css('display','none');
            $('.art__text--dpbb1').addClass('hide');
            var imgupdate = '<img class="animated zoomIn" src="http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/phongthanhduong.png" alt="">';
            var imglevel = '<img class="animated fadeIn" src="http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/level3.png" alt="">';
            setTimeout(function () {
                $('.art__effect--2').addClass('show');
            },500);
            setTimeout(function () {
                $('.art__img--1').addClass('art__img--update2').html('').append(imgupdate);
                $('.art__level').html('').append(imglevel);
            },600);
            setTimeout(function () {
                $('.art__text--dpbb2').addClass('show');
            },800);
            setTimeout(function () {
                $('.art__img--2').addClass('hide');
            },1700);
            setTimeout(function () {
                var dpbb_update = '<div class="art__img art__img--update3"><img class="animated fadeIn" src="http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/ptd.png" alt=""></div>';
                $('.art--2').append(dpbb_update);
            },1700);
            setTimeout(function () {
                $('.vipcode,.modal-ads').addClass('show');
            },3500);
        });
    });
</script>
</body>
</html>