<main>
    <div class="playable">
        <div class="frame frame1">
            <div class="art art--1">
                <div class="art__img art__img--1"><img src="http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/ptd2.png" alt=""></div>
                <div class="art__level"><img src="http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/level1.png" alt=""></div>
                <div class="art__effect art__effect--1"></div>
                <div class="art__effect art__effect--2"></div>
            </div>
            <div class="art art--2">
                <div class="art__img art__img--2"><img src="http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/ptd1.png" alt=""></div>
                <div class="art__text art__text--dpbb">
                    <span>ĐỒ</span>
                    <span>KÉM</span>
                    <span>CỎI,</span>
                    <span>Level</span>
                    <span>thấp</span>
                    <span>như</span>
                    <span>thế</span>
                    <span>đòi</span>
                    <span>đánh</span>
                    <span>bại</span>
                    <span>ta</span>
                    <span>sao?</span>
                    <span>Hahahaaa</span>
                </div>
                <div class="art__text art__text--dpbb1">
                    <span>Haha,</span>
                    <span>ngươi</span>
                    <span>nghĩ</span> <br>
                    <span>nhập</span>
                    <span>code</span>
                    <span class="code">TMCOPEN</span>
                    <span>là</span>
                    <span>có</span>
                    <span>thể</span>
                    <span>đánh</span>
                    <span>bại</span>
                    <span>được</span>
                    <span>ta</span>
                    <span>sao!</span>
                </div>
                <div class="art__text art__text--dpbb2">
                    <span>Không</span>
                    <span>ngờ</span>
                    <span>chỉ</span>
                    <span>cần</span>
                    <span>nhập</span> <br>
                    <span>code</span>
                    <span class="code">TANMINHCHU500K</span>
                    <span>là</span>
                    <span>đã</span>
                    <span>có</span>
                    <span>thể</span>
                    <span>mạnh</span>
                    <span>đến</span>
                    <span>như</span>
                    <span>vậy, </span>
                    <span>ta</span>
                    <span>thua</span>
                    <span>rồi!</span>
                </div>
            </div>
            <div class="quote quote--1">
                <button type="button" class="btn_update btn_update--1">Nâng cấp</button>
                <div class="quote__content">
                    <span>Nhấp</span>
                    <span>vào</span>
                    <span>đây</span>
                    <span>để</span>
                    <span>giúp</span>
                    <span>Phong</span>
                    <span>Thanh</span>
                    <span>Dương</span>
                    <span>đánh</span>
                    <span>bại</span>
                    <span>kẻ</span>
                    <span>địch</span>
                    <span>nào!</span>
                </div>
            </div>
            <div class="quote quote--2">
                <button type="button" class="btn_update btn_update--2">Nâng cấp</button>
                <div class="quote__content">
                    <span>Đã</span>
                    <span>đến</span>
                    <span>lúc</span>
                    <span>để</span>
                    <span>kẻ</span>
                    <span>địch</span>
                    <span>nếm</span>
                    <span>mùi</span>
                    <span>thất</span>
                    <span>bại</span>
                    <span>rồi, </span>
                    <span>nhấn</span>
                    <span>vào</span>
                    <span>đây</span>
                    <span>nào!</span>
                </div>
            </div>
        </div>
        <div class="vipcode">
            <div class="text">
                Nhấn vào đây để nhận <br>
                ngay VIPCODE <span>TANMINHCHU2TR</span> <br>
                cực khủng!
            </div>
            <a href="" class="btn_get" onClick={window.FBPlayableOnCTAClick()}></a>
        </div>
    </div>
    <div class="modal-ads"></div>
</main>


