:root{

}
body{
  width: 100%;
  background: #f2e7da;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.4;
  overflow-x: hidden;
}

@font-face {
  font-family: AstounderSquaredBB;
  src: url("https://psg.mediacdn.vn/public/project/jvZsMcW/both/font/AstounderSquaredBB.otf");
}


body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a{transition: .15s;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
h1,h2,h3,h4,h5{font-size: inherit; margin-bottom: 0;}

@mixin center{
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.playable{
  width: vwm(1080px); height: vwm(1920px);
  background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/bg.jpg") no-repeat 0 0/contain;
  position: relative; overflow: hidden;
}
.frame{width: 100%;  height: 100%; position: absolute; top: 0; left: 0;}
.art{
  &__img{
    position: absolute;
    &--1{width: vwm(342px); top: vwm(34px); left: vwm(34px);}
    &--2{
      width: vwm(940px); bottom: vwm(-60px); right: vwm(-290px);
      &.hide{animation: zoomin .2s linear; animation-fill-mode: both;}
    }
    &--update1{width: vwm(536px); top: vwm(112px); left: vwm(-25px);}
    &--update2{width: vwm(1004px); top: vwm(-250px); left: vwm(-340px);}
    &--update3{width: vwm(637px); bottom: 0; right: vwm(-160px);}
  }
  &__level{
    width: vwm(570px);
    position: absolute; left: vwm(370px);
  }
  &__text{
    width: vwm(719px); height: vwm(452px);
    background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/quote.png") no-repeat 0 0/contain;
    padding: vwm(53px) vwm(99px);
    text-align: center;
    font: vwm(55px) AstounderSquaredBB, sans-serif;
    position: absolute; left: 0; top: vwm(1086px);
    &--dpbb{
      height: vwm(353px); background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/quote1.png") no-repeat 0 0/contain;
      &.hide{display: none;}
    }
    &--dpbb1{
      height: vwm(402px); background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/quote2.png") no-repeat 0 0/contain;
      padding: vwm(55px);
      font-size: vwm(60px);
      opacity: 0;
      transition: .25s;
      &.hide{display: none;}
      &.show{opacity: 1;}
    }
    &--dpbb2{
      padding: vwm(74px) vwm(42px);
      font-size: vwm(52px);
      opacity: 0; line-height: vwm(68px);
      transition: .25s;
      &.hide{display: none;}
      &.show{opacity: 1; z-index: 2;}
    }
    .code{color: #a40000;}
    span.active{animation: fadeIn .3s linear; opacity: 1;}

  }
  &__effect{
    width: vwm(1080px); height: vwm(1080px);
    background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/effect.png") no-repeat 0 0/contain;
    position: absolute; left: vwm(-300px); top: vwm(220px);
    opacity: 0;
    &.show{animation: fire 1s linear;}
  }
}
.quote{
  &__content{
    width: vwm(550px); height: vwm(270px);
    background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/quote1.png") no-repeat 0 0/contain;
    padding: vwm(50px) vwm(55px);
    text-align: center;
    font: vwm(45px) AstounderSquaredBB, sans-serif;
    position: absolute; left: vwm(250px); top: vwm(610px);
    opacity: 0; transition: .5s;
  }
  &:hover{
    .quote__content{opacity: 1;}
  }
  span.active{animation: fadeIn .3s linear; opacity: 1;}
}
.btn_update{
  width: vwm(445px); height: vwm(172px);
  background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/btn-nangcap.png") no-repeat 0 0/contain;
  font-size: 0;
  position: absolute; left: 50%; margin-left: vwm(-222px); top: vwm(875px);
  transition: .5s linear;
  &.active{opacity: 1; }
  &::after{
    content: "";
    width: 50px; height: 52px;
    background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/cursor.png") no-repeat 0 0/contain;
    position: absolute;
    animation: cursor 0.6s infinite linear;
  }
}
.btn_update--1.active{animation: bounceIn 1s linear;}
.btn_update--2{
  display: none;
  &.active{animation: bounceIn 1s linear;}
}
.vipcode{
  display: none;
  position: fixed;
  top: 40%; left: 50%;
  transform: translate(-50%,-50%); z-index: 9;
  &.show{display: block;}
  .text{
    width: vwm(686px); height: vwm(457px);
    background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/quote3.png") no-repeat 0 0/contain;
    padding: vwm(48px) vwm(32px);
    margin-left: vwm(380px);
    font: vwm(63px) AstounderSquaredBB, sans-serif;
    text-align: center;
    span{color: #a40000;}
  }
  .btn_get{
    width: vwm(522px); height: vwm(202px);
    margin: vwm(15px) auto 0;
    display: block;
    background: url("http://psg.mediacdn.vn/public/project/jvZsMcW/both/img/playable/btn_nhan.png") no-repeat 0 0/contain;
    font-size: 0;
  }
}
.modal-ads{
  width: 100%; height: 100%;
  display: none;
  background: rgba(#000,.8);
  position: fixed; top: 0; left: 0; z-index: 8;
  &.show{display: block;}
}

@media (min-width: 1081px) {

}

//uikit
.pr{position: relative;}
.flex-nowrap{flex-wrap: nowrap;}
button{
  border: none; cursor: pointer; padding: 0;
  &:focus{outline: none;}
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fire {
  0%{
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  50%{
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
  100%{
    opacity: 0;
    transform: scale(1) rotate(360deg);
  }
}

@keyframes zoomin {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(.5);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes cursor {
  0% {
    transform: translate(10px, 10px); }
  100% {
    transform: translate(0, 0); } }

@keyframes cursor {
  0% {
    transform: translate(10px, 10px); }
  100% {
    transform: translate(0, 0); }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}